.where-togo {
    background-color: #000;
    height:150px;
    color:white;
    padding:25px;
    margin:20px;
}

.where-togo h2 {

    font-size:25px;
}

.form-grid{

    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}